version: '3.7'

services:
    app:
        container_name: Jourloy-Backend
        build:
            context: .
        volumes:
            - .:/app
            - /app/node_modules
        command: yarn prisma:migrate dev && yarn dev
        env_file:
            - .env
        ports:
            - "10001:10001"
        restart: always

volumes:
    app:
